.main__fullscreen {
  background: $gradient_color;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

@keyframes hoverText {
  from {
    transform: translateX(0);
  }

  50% {
    transform: translateX(15px);
  }

  to {
    transform: translateX(0);
  }
}

.welcome {
  color: white;
  text-decoration: none;
  animation: hoverText 5s infinite ease-in-out;
}
